# GNU Readline Library
# http://cnswww.cns.cwru.edu/php/chet/readline/rluserman.html
#
# Note: use ^x^r to re-read this file after modification

# Key bindings
# ------------

# <up> and <down>
"\e[A": history-search-backward
"\e[B": history-search-forward

# Allow the use of the <Home> / <End> keys
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# Alt + x
"\ex": kill-whole-line

"\eOQ": " 1>/dev/null 2>&1"

# Variable settings
# -----------------

set bell-style none

# link@, dir/...
set visible-stats on

# Don't show hidden files (unless .<tab>)
set match-hidden-files off

# Ignore case + treat - and _ as equivalent
set completion-ignore-case on
set completion-map-case on

# Display all possible completions right away
set show-all-if-ambiguous on
set show-all-if-unmodified on

# no (y or n) + no less
set completion-query-items 200
set page-completions off
