# GNU Readline Library
# http://cnswww.cns.cwru.edu/php/chet/readline/rluserman.html
#
# Note: use ^x^r to re-read this file after modification

# Key bindings
# ------------

# <up> and <down>
"\e[A": history-search-backward
"\e[B": history-search-forward

# Allow the use of the <Home>/<End> keys
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# Alt + x
"\ex": kill-whole-line

# Variable settings
# -----------------

# link@, dir/...
set visible-stats on

set bell-style none

set show-all-if-ambiguous on
