# GNU Readline Library
# http://cnswww.cns.cwru.edu/php/chet/readline/rluserman.html
#
# Note: use ^x^r to re-read this file after modification

# Key bindings
# ------------

# <up> and <down>
"\e[A": history-search-backward
"\e[B": history-search-forward

# <Ctrl-Left> and <Ctrl-Right>
"\e[1;5D": backward-word
"\e[1;5C": forward-word

# Allow the use of the <Home> and <End> keys
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# ^d (instead of the default 'delete char before cursor')
"\C-d": kill-whole-line

"\C-xa": "\"${[@]}\"\C-b\C-b\C-b\C-b\C-b"
"\C-xc": " | column -t"
"\C-xd": "dimitar.dimitrov"
"\C-xe": "printf '%s\\n' \"\"\C-b"
"\C-xf": "for i in ; do \"$i\"; done\eb\eb\eb\C-b\C-b"
"\C-xp": "printf '%s\\n' \"\"\C-b"
"\C-xq": "\eb\"\ef\""
"\C-xv": "\"$\"\C-b"
"\C-x,": "{,}\C-b\C-b"
"\C-x.": "{1..}\C-b"
"\C-x=": "$(())\C-b\C-b"
"\C-x>": "> 2>&1\eb\eb\C-b"

# Variable settings
# -----------------

set bell-style none

# link@, dir/...
set visible-stats on

# Don't show hidden files (unless .<tab>)
set match-hidden-files off

# Ignore case + treat - and _ as equivalent
set completion-ignore-case on
set completion-map-case on

# Display all possible completions right away
set show-all-if-ambiguous on
set show-all-if-unmodified on

# no (y or n) + no less
set completion-query-items 200
set page-completions off
